:root {
  --color-dark: #331F26;
  --color-light: #FFF;
  --color-brown: #663F4C;
  --color-green: #9FA628;
  --color-orange: #BF6C35;
  --heading-h1: 2.618em;
  --heading-h2: 1.931em;
  --heading-h3: 1.618em;
  --heading-h4: 1.194em;
  --heading-h5: 1em;
}

html {
  font-family: Ubuntu, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-light);
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

* {
  box-sizing: inherit;
}

a {
  color: inherit;
  opacity: 0.5;
  transition: opacity 0.5s;
}

a:hover {
  opacity: 0.75;
}

.wrap {
  margin-left: 8px;
  margin-right: 8px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
}

.logo {
  width: 48px;
  height: 19px;
  margin-bottom: -16px;
  overflow: hidden;
}

.section_brown {
  background-color: var(--color-brown);
}

.section_green {
  background-color: var(--color-green);
  color: var(--color-dark);
}

.section_orange {
  background-color: var(--color-orange);
}

.heading1 {
  margin: 0;
  font-size: var(--heading-h2);
}

.heading2 {
  margin: 0;
  font-size: var(--heading-h3);
}

.heading3 {
  margin: 0;
  font-size: var(--heading-h3);
}

.heading4 {
  margin: 0;
  font-size: var(--heading-h4);
}

.button {
  display: block;
  margin-top: 8px;
  padding: 8px;
  background-color: var(--color-orange);
  border-radius: 4px;
  color: inherit;
  text-decoration: none;
  text-align: center;
  opacity: 1;
}

.info {
  display: flex;
  flex-wrap: wrap;
}

.info-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  height: 3em;
  color: var(--color-light);
  font-size: var(--heading-h2);
  font-weight: 700;
}

.info-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
  margin: 0;
}

.info-link {
  display: inline-block;
  margin-top: 4px;
  font-size: 0.8em;
}

.schedule {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
}

.schedule-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 38%;
  margin-top: 16px;
  padding-right: 16px;
  font-weight: 700;
  text-align: right;
}

.schedule-event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 16px 0 0;
  padding-left: 16px;
}

.schedule-link {
  font-size: 0.8em;
}

.schedule-event .schedule-link {
  margin-left: 8px;
}

.schedule-footer {
  margin-top: 16px;
  text-align: center;
}

.event {
  margin-top: 16px;
}

.event {
  font-size: 0.8em;
}

@media all and (min-width: 700px) {
  html {
    font-size: 18px;
  }

  .heading1 {
    font-size: var(--heading-h1);
  }

  .heading2 {
    font-size: var(--heading-h2);
  }

  .section {
    padding: 32px 0;
  }

  .logo {
    width: 96px;
    height: 38px;
    margin-bottom: -32px;
  }

  .wrap {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
  }

  .button {
    margin-top: 16px;
    padding: 16px;
  }

  .info-link {
    margin-top: 8px;
  }

  .schedule {
    margin-top: 16px;
  }

  .schedule-time {
    width: 32%;
  }
}
